<div class="container">
    <div class="row">
        <div class="col-sm">

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                   {{id}}. {{burger_name}}
                    <button value={{id}} id='devour'>Eat-Da-Burger</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-sm">
            <h2>Burgers Devoured</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                   {{id}}. {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Add a Burger</h2>
            <form id="addburger" class="burger-form">
                <textarea type="text" name="burger"></textarea>
                <button type="submit">Save!</button>
            </form>
            <script type="text/javascript">
            
            $(".updateburger").on("click", function(event) {
      var id = $(this).data("burgerid");
      const updateBurger = {
          burger: true
      };
      $.ajax("api/burgers/" + id, {
          type: "PUT",
          data: updateBurger
      }).then(
          function() {
              console.log("updated id ", id);
              location.reload();
          }
      )
  });
  $("#addburger").on("submit", function(event) {
      event.preventDefault();
      console.log("hello");
      var newBurger = {
          burger: $("#addburger [name=burger]").val().trim()
      };
      $.ajax("/api/burgers", {
          type: "POST",
          data: newBurger
      }).then(
          function() {
            console.log("added new burger");
            location.reload();
          }
      );
  });
            </script>
        </div>

    </div>
</div>